<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jelle-ssp-202120211106215443.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1544bc98-df05-45c0-81df-690133cd3938/resourcegroups/ssp-2021/providers/Microsoft.Web/sites/Jelle-SSP-202120211106215443</ResourceId>
    <UserName>$Jelle-SSP-202120211106215443</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jelle-ssp-202120211106215443.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>